1. Your account has been created. Visit this url to activate your account. You will not be able to 
login unless you do the same.

    <%= @url %>

2. Username and password

  Username-  <%= @user.login %>
  Password-  <%= @user.password %>

3. To create your user icon or Avatar please go to 'Settings' after you log in.

4. Please mail dakghar@puberun.org.au want the password to the common Flickr account. 
