<% content_for :right do %>
    <div id="hide-sidebar1"></div>
<% end %>

<div style="height: 370px;width: 860px"  >
<p style="font-size: 3em;font-weight: bold;color: #0386a2">
  
    An email has been sent to you. Please click on the link in the mail to complete
    your activation. You will not be able to login unless you do the same.
    <br>
    Sorry! this is required for security purposes. 
  
</p>

</div>